
# IntelliJ artifacts.
build
.idea/workspace.xml

# ANTLR artifacts.
src/edu/vtc/phoebe/Phoebe.tokens
src/edu/vtc/phoebe/PhoebeBaseListener.java
src/edu/vtc/phoebe/PhoebeBaseVisitor.java
src/edu/vtc/phoebe/PhoebeLexer.java
src/edu/vtc/phoebe/PhoebeLexer.tokens
src/edu/vtc/phoebe/PhoebeListener.java
src/edu/vtc/phoebe/PhoebeParser.java
src/edu/vtc/phoebe/PhoebeVisitor.java
